<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="fmp-andriod-automotive"
    version="0.0.1">
    <name>Cordova Plugin Template</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/the7erm/cordova-plugin-fmp-andriod-automotive.git</repo>
    <issue>https://github.com/the7erm/cordova-plugin-fmp-andriod-automotive/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.FmpCordovaAAPlugin -->
        <clobbers target="FmpCordovaAAPlugin" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="FmpCordovaAAPlugin">
          <param name="android-package" value="android.com.fmp.FmpCordovaAAPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/fmp/FmpCordovaAAPlugin.java" target-dir="src/com/fmp/" />
    </platform>

    <!-- ios -->
    <!-- <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="MyCordovaPlugin" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="MyCordovaPlugin">
                <param name="ios-package" value="MyCordovaPlugin" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/MyCordovaPlugin.h" />
        <source-file src="src/ios/MyCordovaPlugin.m" />
    </platform> -->
</plugin>
